extends modules/head
block content
    .wrapping.remodal-bg
        include modules/header
        main
            section.sliderBlock
                .slider
                    .slider_slides
                        .slider_slide
                            .slider_bg
                                img(src="img/offer.jpg", class="img-fluid", alt="Презентация")
                            .slider_text
                                .container
                                    span ЗАКАЗАТЬ КАЧЕСТВЕННЫЕ ФЛАКОНЫ для косметики оптом
                        .slider_slide
                            .slider_bg
                                img(src="img/offer.jpg", class="img-fluid", alt="Презентация")
                            .slider_text
                                .container
                                    span ЗАКАЗАТЬ КАЧЕСТВЕННЫЕ ФЛАКОНЫ для косметики оптом
                        .slider_slide
                            .slider_bg
                                img(src="img/offer.jpg", class="img-fluid", alt="Презентация")
                            .slider_text
                                .container
                                    span ЗАКАЗАТЬ КАЧЕСТВЕННЫЕ ФЛАКОНЫ для косметики оптом
            section.catalogBlock
                .leaveBlock
                    img(src="img/leaves.png", alt="leave")
                .container
                    h1 Каталог
                    .product_blocks
                        a(href="#product")
                            .product_block.wow.slideInLeft(data-wow-duration="2s" data-wow-delay=".5s")
                                .product_bg
                                    img(src="img/product1.jpg", alt="Продукт1",)
                                .product_text
                                    span Тара косметическая
                        a(href="#product")
                            .product_block.wow.slideInRight(data-wow-duration="2s" data-wow-delay="1s")
                                .product_bg
                                    img(src="img/product2.jpg", alt="Продукт2")
                                .product_text
                                    span Масла
                        a(href="#product")
                            .product_block.wow.slideInLeft(data-wow-duration="2s" data-wow-delay=".5s")
                                .product_bg
                                    img(src="img/product3.jpg", alt="Продукт3")
                                .product_text
                                    span Натуральная косметика
                        a(href="#product")
                            .product_block.wow.slideInRight(data-wow-duration="2s" data-wow-delay="1s")
                                .product_bg
                                    img(src="img/product4.jpg", alt="Продукт4")
                                .product_text
                                    span Косметические ингредиенты
            section.newBlock
                .container
                    h1 Новинки и акции
                    .newproducts
                        .row
                            .newprod.wow.bounceIn(data-wow-duration="2s" data-wow-delay=".5s")
                                img(src="img/productmin1.jpg", alt="Новый Продукт1")
                            .newprod.wow.bounceIn(data-wow-duration="2s" data-wow-delay="1s")
                                img(src="img/productmin2.jpg", alt="Новый Продукт2")
                            .newprod.wow.bounceIn(data-wow-duration="2s" data-wow-delay="1s")
                                img(src="img/productmin3.jpg", alt="Новый Продукт3")
                            .newprod.wow.bounceIn(data-wow-duration="2s" data-wow-delay=".5s")
                                img(src="img/productmin4.jpg", alt="Новый Продукт4")
                            .newprod.wow.bounceIn(data-wow-duration="2s" data-wow-delay="1s")
                                img(src="img/productmin5.jpg", alt="Новый Продукт5")
            section.reviewBlock
                .leaveBlock_second
                    img(src="img/leaves2.png", alt="Leave")
                .container
                    h1 Отзывы
                    .review_slider
                        .review_slide
                            .review_text
                                p Товар отличного качества. Цены просто супер!...
                            .review_name
                                span Светлана
                            .review_stars
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                        .review_slide
                            .review_text
                                p Товар отличного качества. Цены просто супер!...
                            .review_name
                                span Вера
                            .review_stars
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                        .review_slide
                            .review_text
                                p Товар отличного качества. Цены просто супер!...
                            .review_name
                                span Денис
                            .review_stars
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                        .review_slide
                            .review_text
                                p Товар отличного качества. Цены просто супер!...
                            .review_name
                                span Денис
                            .review_stars
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
                                svg(width="18" class="star" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.92935 0L11.0373 6.48756L17.8587 6.48756L12.3401 10.4971L14.448 16.9847L8.92935 12.9751L3.41071 16.9847L5.51865 10.4971L0 6.48756L6.82143 6.48756L8.92935 0Z" fill="#345724")
            section.articleBlock.wow.bounceIn(data-wow-duration="2s" data-wow-delay=".5s")
                .container
                    h1 Статьи
                    article
                        a(href="#article")
                            .block_article
                                .article_img
                                    img(src="img/articleimg.jpg", alt="Статья")
                                .article_text
                                    span.head КАК ПРАВИЛЬНО ХРАНИТЬ ДУХИ: 5 ГЛАВНЫХ ПРАВИЛ
                                    p Хотим расстроить тех, кто хранит свой аромат на прикроватном столике в комнате с хорошим светом. Это просто недопустимо,.. 
    include modules/footer
    include modules/scripts