script(src="js/libs.min.js" defer)
script(src="https://code.jquery.com/jquery-3.4.1.js" defer integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
script(src="js/popper.min.js" defer)
script(src="libs/remodal/dist/remodal.min.js" defer)
script(src="libs/wow/dist/wow.min.js")
script(src="js/common.js" defer)