@media screen and (max-width: 1600px)
    body
        .wrap
            main
                .slider__slides
                    .slide_one
                        .slide__background
                            top: 0px
                            height: 100%
                        .slide__elements
                            width: 100vw
                    .slide_two
                        .slide__background
                            height: 100%
                            top: 0px
                        .slide__elements
                            left: -70px
                            width: 100vw
                .about
                    overflow: hidden !important
                    width: 100%
                    margin: 
                        top: 15%
                    .wrapper
                        @include wrapper
                        .about_content
                            width: 100%
                            max-width: 690px
                            color: white
                            font:
                                size: 17px
                                weight: 400
                            line-height: 34.29px
                            bottom: 50rem
                            z-index: 41
@media screen and (max-width: 1380px)
    body
        .wrap
            main
                .slider__slides
                    .slide_two
                        .slide__elements
                            left: -170px
                            bottom: 250px
                        .slide_textwhite
                            //right: 100px
                        .action_two
                            width: 490px
                            height: 481px
                            top: 450px
                            left: 760px;
                        .details
                            top: 100px
                            left: 588px
                .sliderShop
                    .sliderShop
                        .slider__boards
                            .slide__board
                                img
                                    width: 80%
                .about
                    width: 100%
                    margin: 
                        top: 15%
@media screen and (max-width: 1280px)
    body
        header
            form
                .form-control
                    //width: 70% !important
                #search
                    width: 100% !important
                    padding-left: 0px !important
        .wrap
            main
                .slider__slides
                    .slide_one
                        .slide__elements
                            left: -50px
                            bottom: 150px                    
                    .slide_two
                        .slide__elements
                            left: -170px
                            .action_two
                                left: 860px;
                .about
                    background-size: cover;
@media screen and (max-width: 1122px)
    body
        .wrap
            main
                .slider__slides
                    .slide_one
                        .slide__elements
                            left: 10px
                            .slide_textblack
                                font: 
                                    size: 70px
                            .action_one 
                                width: 381px
                                height: 399px
                                left: 500px
                                top: 150px
                            .details
                                left: 608px                
                    .slide_two
                        .slide__elements
                            left: -100px
                            bottom: 190px
                            .slide_textwhite
                                font: 
                                    size: 70px
                            .action_two 
                                width: 381px
                                height: 399px
                                left: 650px
                                top: 250px
                            .details
                                left: 608px 
                            .sliderShop
                .sliderShop
                    .slider__boards
                        .prev_arrow, .next_arrow
                            font-size: 200px
                        .next_arrow
                        .slide__board
                            img
                                width: 60%
@media screen and (max-width: 920px)
    body
        header
            .navbar-brand
                margin: 
                padding: 
                    top: 1%
                    bottom: 1.5%
                img
                    width: 80%
            li
                padding:
                    top: 2%
                    //left: 30.2px
                    //right: 2.5% 
            .form-inline
                justify-content: flex-end !important 
            #search
                //width: 300px !important
                //padding-left: 275px !important
        .wrap
            main
                .slider__slides
                    .slide_one
                        .slide__background
                            width: 28%
                        .slide__elements
                            left: -20px
                            bottom: 100px 
                            .slide_textblack
                                font: 
                                    size: 50px
                            .action_one 
                                width: 281px
                                height: 299px
                                left: 350px
                                top: 100px
                            .details
                                left: 408px                
                    .slide_two
                        .slide__background
                            width: 28%
                        .slide__elements
                            left: -130px
                            bottom: 180px 
                            .slide_textwhite
                                font: 
                                    size: 50px
                            .action_two 
                                width: 281px
                                height: 299px
                                left: 550px
                                top: 200px
                            .details
                                left: 408px
                .sliderShop
                    .slider__boards
                        .prev_arrow, .next_arrow
                            font-size: 200px
                        .slick-list
                            .slide__board
                                padding: 35px 0
                                img
                                    opacity: .5
                                    max-width: 78px
                                    margin: 0 auto
                            .slick-center
                                padding: 0px
                                img
                                    max-width: 108px
                                    opacity: 1
                .about
                    .about_content
                        font-size: 13px !important
                        .about__title
                            width: 100%
                            span
                                font-size: 25px
                            h1
                                font-size: 35px !important
                .features
                    .features_slider
                        .feature_slide
                            img
                                width: 90%
@media screen and (max-width: 695px)
    body
        header
            form
                #search
                    //width: 300px !important
                    //padding-left: 350px    
            .navbar-brand
                padding: 
                    top: 1%
                    bottom: 1.5%
                    left: 0%
                    right: 0%
                img
                    width: 70%
            .navbar-toggler
                width: 40px
                height: 30px
                padding: .1rem .45rem
                font-size: 1rem
            ul
                li
                    margin-left: 0%
        .wrap
            main
                .slider__slides
                    .slide_one
                        .slide__elements
                            left: -70px
                            bottom: 120px 
                            .slide_textblack
                                font: 
                                    size: 50px
                            .action_one 
                                width: 251px
                                height: 259px
                                left: 300px
                                top: 105px
                            .details
                                left: 408px                
                    .slide_two
                        .slide__background
                            width: 28%
                        .slide__elements
                            left: -50px
                            bottom: 180px 
                            .slide_textwhite
                                top: 20px
                                font: 
                                    size: 50px
                            .action_two 
                                width: 251px
                                height: 259px
                                left: 400px
                                top: 200px
                            .details
                                left: 308px
                .sliderShop
                    .slider__boards
                        .prev_arrow, .next_arrow
                            font-size: 130px
                        .slick-list
                            .slide__board
                                padding: 15px 0
                                img
                                    opacity: .5
                                    max-width: 68px
                                    margin: 0 auto
                            .slick-center
                                padding: 0px
                                img
                                    max-width: 98px
                                    opacity: 1
                .about
                    .about_content
                        font-size: 13px !important
                        .about__title
                            width: 100%
                            span
                                font-size: 25px
                            h1
                                font-size: 25px !important
@media screen and (max-width: 580px)
    body
        header
            .navbar-brand
                margin-left: 0% 
            ul
                li
                    a
                        font-size: 13px !important
            form
                #search
                    //width: 250px !important
                    //padding-left: 220px !important
                    label
                        padding:
                            top: 20px
                            right: 5px
            .navbar-brand
                margin: 
                padding: 
                    top: 1%
                    bottom: 1.5%
                    left: 0%
                    right: 0%
                img
                    width: 70%
            .navbar-toggler
                width: 40px
                height: 30px
                padding: .1rem .45rem
                font-size: 1rem
            ul
                li
                    margin-left: 0%
        .wrap
            main
                .slider__slides
                    display: block !important
                    .slide_one
                        display: block !important
                        .slide_textblack
                            font: 
                                size: 30px
                    .slide_two
                        display: block !important
                        .slide__elements
                            left: -100px
                            bottom: 150px;
                .sliderShop
                    width: 100%
                    background-color: white 
                    position: relative
                    text-align: center
                    z-index: 81
                    .title
                        font-size: 14px
                        h2
                            font-size: 35px
                    .cross
                        width: 20px
                .about
                    .about_content
                        font-size: 13px !important
                        .wrapper
                        .about__title
                            width: 100%
                            span
                                font-size: 25px
                            h1
                                font-size: 25px !important   
@media screen and (max-width: 540px)
    body
        header
            form
                .form-inline
                    justify-content: flex-end !important
                #search
                    width: 100% !important
                    //padding-left: 180px !important
            .navbar-brand
                padding: 
                    top: 1%
                    bottom: 1.5%
                    left: 0%
                    right: 0%
                img
                    width: 70%
            .navbar-toggler
                width: 40px
                height: 30px
                padding: .1rem .45rem
                font-size: 1rem
            ul
                li
                    margin-left: 0%
            form
                margin-right: 3%
        .wrap
            main
                .slider__slides
                    display: none
                    .slide_one
                        display: none !important
                    .slide_two
                        display: none !important
                        .slide__elements
                            left: -100px
                            bottom: 200px 
                .sliderShop
                    margin-top: 10%
                    width: 100%
                    background-color: white 
                    position: relative
                    text-align: center
                    z-index: 81 
                    .slider__boards
                        height: 180px
                        .prev_arrow, .next_arrow
                            top: 5px  !important
                            font-size: 100px
                        .slick-list
                            .slide__board
                                padding: 15px 0
                                img
                                    opacity: .5
                                    max-width: 48px
                                    margin: 0 auto
                            .slick-center
                                padding: 0px
                                img
                                    max-width: 58px
                                    width: 100%
                                    opacity: 1
                .about
                    .about_content
                        padding-left: 2px
                        font-size: 13px !important
                        .about__title
                            margin-right: 1px !important
                            //text-align: center
                            width: 250px !important
                            span
                                font-size: 10px !important
                            h1
                                font-size: 25px !important
                        .about__text
                            .p-second
                                display: block
                .features
                    .title
                        font-size: 14px !important
                        h2
                            font-size: 35px !important
                    .features_slider
                        .feature_slide
                            img
                                width: 100%
                            p
                                font-size: 14px