*
    margin: 0
    padding: 0

@import 'fonts'

@mixin fontSemiBold()
    font: 
        weight: bold
        size: 15px
        //weight: 400;
    text-transform: uppercase
    color: #ffffff !important

@mixin fontEtraBold()
    font:
        weight: 400
        size: 90px
    text-transform: uppercase
    line-height: 1.2

@mixin wrapper()
    margin: 0 auto
    width: 100%
    max-width: 1098px


.container-fix
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;

.form-inline
    flex-flow: row nowrap

.navbar-brand
    img
        max-width: 88.8px
        width: 100%

.fa-youtube
    margin-left: 15px
    transform: scale(1.5);

body
    width: 100%
    font-family: 'ProximaNova'
    header
        position: static
        width: 100%
        background-color: #000000
        padding: 0 0 10px 0
        z-index: 90
        .navbar-brand
            margin: 
                top: 1%
                bottom: 1.5%
                left: 0%
                right: 0%
            img
                width: 100%
        li
            padding:
                top: 2%
                left: 0.2px
                right: 2.5%
            a
                @include fontSemiBold
        .navbar-toggler
            background-color: white
        .navbar-collapse
            transition: 1s ease
        form
            margin: 
                //right: 6%
            color: #ffffff
            .form-control
                height: 50px
                padding: 1rem
                border: 1px solid #000000
                background: 
                    color: #0a1223
                    image: url(img/search_icon.png)
                transition: .3s ease
                &:focus
                    background-color: #0a1223
            .collapse
                .form-inline
                    flex-wrap: nowrap !important
            .mr-sm-2
                margin-right: 0rem!important
            .btn
                border: 1px solid #000000
                color: white !important
                padding-right: 9px
                img
                    margin: 
                        top: 10px
                .bagg
                    margin: 
                        left: 10px
                        bottom: 5px !important
                &:hover
                    background-color: none
            .mon
                cursor: pointer
                margin: 
                    top: 10px
                    left: 10px
                color: white !important
            #search
                display: flex !important
                flex-direction: row !important
                justify-content: flex-end
                //width: 300px !important
                //padding-left: 275px
                overflow: hidden
                transition: .5s ease
                #search_icon
                    cursor: pointer
                label
                    padding:
                        top: 10px
                        right: 5px
                &:hover
                  //padding-left: 50px !important
    .wrap
        width: 100%
        overflow: hidden
        main
            width: 100%
            .slider__slides
                cursor: pointer
                width: 100%
                position: relative
                display: flex
                flex-direction: row
                .slide_one
                    z-index: 87
                    .slide__background
                        position: absolute
                        top: -5vh
                        width: 100vw
                    .slide__elements
                        width: 90vw
                        margin: 0 auto
                        position: relative
                        bottom: 190px
                        //left: 35px
                        .slide_textblack
                            @include fontEtraBold
                            max-width: 1227px
                            padding: 0 25%
                            position: relative
                            z-index: 72
                        .action_one
                            position: relative
                            width: 481px
                            height: 499px
                            top: 190px
                            left: 670px
                            z-index: 73
                        .details
                            position: relative
                            border: none
                            width: 171px
                            top: 40px
                            left: 800px
                            text-transform: uppercase
                            transition: .2s ease-in
                            padding: 1% 0
                            color: white !important
                            background-color: black
                            z-index: 74
                            &:hover
                                background-color: #ffffff
                                color: black !important
                .slide_two
                        .slide__background
                            position: absolute
                            top: -5vh
                            width: 100vw
                        .slide__elements
                            width: 70vw
                            position: relative
                            bottom: 315px
                            left: 70px
                            .slide_textwhite
                                @include fontEtraBold
                                padding: 0 25%
                                position: relative
                                color: white
                                z-index: 72
                            .action_two
                                position: relative
                                top: 450px
                                left: 880px 
                                width: 490px
                                height: 481px
                                z-index: 73
                            .details
                                position: relative
                                border: none
                                top: 50px
                                left: 800px   
                                width: 171px
                                text-transform: uppercase
                                transition: .2s ease-in
                                padding: 1% 0
                                color: white !important
                                background-color: black
                                z-index: 74
                                &:hover
                                    background-color: #ffffff
                                    color: black !important
            .sliderShop
                width: 100%
                bottom: 2rem
                margin: 
                    top: 5%
                background-color: white 
                position: relative
                text-align: center
                z-index: 81
                .title
                    font-size: 16px
                    text-transform: uppercase
                    h2
                        margin: 
                            bottom: 1%
                        font-size: 55px
                        font-weight: 400
                        line-height: 150%
                .cross
                    padding: 
                        top: 1.5%
                    width: 36px
                .slider__boards
                    cursor: pointer
                    display: flex
                    flex-direction: row
                    height: 340px
                    margin: 
                        top: 5%
                    .prev_arrow
                        cursor: pointer
                        font-size: 200px
                        z-index: 87
                        opacity: .5
                    .next_arrow
                        cursor: pointer
                        font-size: 200px
                        z-index: 87
                        opacity: .5
                    .slick-list
                        .slide__board
                            outline: none
                            padding: 25px 0
                            img
                                opacity: .5
                                max-width: 118px
                                margin: 0 auto
                        .slick-center
                            padding: 0px
                            img
                                transition: .7s ease
                                opacity: 1
                                max-width: 138px
                .subtitle
                    margin: 
                        top: 3.5%
                    font-size: 27px
                    font-weight: 400
                    text-transform: uppercase
            .about
                background: url(../img/bg_image.jpg);
                background-size: 100%;
                padding: 10%;
                overflow: hidden !important
                width: 100%
                margin: 
                    top: 15%
                .wrapper
                    @include wrapper
                    .about_content
                        width: 100%
                        max-width: 690px
                        color: white
                        font:
                            size: 17px
                            weight: 400
                        line-height: 34.29px
                        bottom: 50rem
                        z-index: 41
                        .about__title
                            width: 495px
                            span
                                position: absolute
                                font-size: 35px
                            h1
                                font:
                                    size: 55px
                                    weight: 400
                                text-transform: uppercase
                        .about__text
                            margin: 
                                top: 8%
                            max-width: 690px
                            p
                                margin: 
                                    top: 7%
            .features
                position: relative
                overflow-x: hidden !important
                width: 100%
                max-width: 1600px
                @include wrapper
                text-align: center
                padding: 
                    top: 7.5%
                .title
                    font-size: 16px
                    text-transform: uppercase
                    h2
                        font-size: 55px
                        font-weight: 400
                        line-height: 150%
                .cross
                    padding: 
                        top: 1%
                    width: 36px
                .features_slider
                    cursor: pointer
                    position: relative
                    overflow: hidden !important
                    display: flex
                    flex-direction: row
                    padding: 
                        top: 9%
                    .feature_slide
                        outline: none
                        padding: 
                            left: 1%
                            right: 1%
                        text-align: left
                        p
                            margin: 
                                top: 8%
                            font-size: 18px
                            font-weight: 400
                            line-height: 34.29px
                .slick-dots
                    bottom: 1px
    footer
        margin: 
            top: 8%
        padding: 
            top: 4.5%
            left: 1%
        background-color: #000000
        .container
            .row
                margin: 
                    bottom: -2%
                .col-md-3
                    .font-weight-bold
                        font:
                            weight: 400 !important
                        color: white
                    li
                        padding: .5% 0
                        a
                            color: #b1b1b1
                    .form-control-sm
                        height: 3rem
                    .btn-lg
                        color: black
                        background-color: white
                .col-md-12
                    text-align: center
                    img
                        padding: 
                            left: 5%
                        height: 5%
        .footer-copyright
            display: flex
            justify-content: space-between
            color: white
        .btn-secondary
            background-color: black
            border: none
            &:focus
                box-shadow: none !important
            &:active
                background-color: black !important
                border: none !important
            &:hover
                background-color: black
            img
                width: 20px;
                height: 25px;
    #toTop
        width: 45px
        border: 1px solid #008080
        border-radius: 90px
        background: #008080
        text-align: center
        padding: 5px
        position: fixed
        bottom: 10px
        right: 10px
        cursor: pointer
        display: none
        color: white
        font-family: verdana
        font-size: 20px
        z-index: 999

@import 'media'



.slick-dots li button:before
    font-family: 'slick';
    font-size: 30px;
    line-height: 10px;
    transition: all ease 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '○';
    text-align: center;
    opacity: .7;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

.slick-dots li.slick-active button:before
    opacity: .75;
    color: black;
    content: '●';

