@font-face {
    font-family: 'Risque';
    src: url('fonts/Risque-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sahitya';
    src: url('fonts/Sahitya-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}