@media screen and (min-width:320px) and (max-width: 480px) {
    .wrapping {
        width: 100%;
        overflow-x: hidden;
        min-height: calc(100vh - 194px);
    }
    .container {
        max-width: 225px;
    }
    body {
        overflow-x: hidden;
        header {
            overflow-x: hidden;
            .first_row {
                padding: 0 15%;
                .logo {
                    width: 130px;
                    padding: 15px 0;
                    img {
                        width: 100%;
                    }
                }
                .contacts {
                    margin-left: 62px;
                    padding-bottom: 2px;
                    .tel {
                        .tel_numbers {
                            display: none;
                        }
                    }
                }
                .searching_panel {
                    position: relative;
                    padding: 0;
                    margin-left: 0;
                    form {
                        #search_area {
                            position: relative;
                            opacity: 0;
                            width: 45%;
                            border-bottom: 3px solid #656565;
                            transition: .5s ease;
                        }
                        .btn {
                            display: flex;
                            justify-content: flex-end;
                            width: 40px;
                            margin: 0;
                            padding: 0;
                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }
                }
                .basket {
                    margin-left: 0;
                    .basket_logo {
                        padding: 18px 0 26px 0;
                    }
                    .basket_col {
                        padding: 23px 0 26px 0;
                    }
                }
                .lang {
                    margin-left: 88px;
                    padding: 13px 0 19px 0;
                }
            }
            .second_row {
                overflow: hidden;
                .container {
                    .nav_line {
                        .navbar {
                            margin: 0 auto;
                            height: 11px;
                            transition: .3s ease;
                            .collapse {
                                .navbar-nav {
                                    .about {
                                        margin-right: 0;
                                    }
                                    .catalog {
                                        margin: 0 auto;
                                    }
                                    .new {
                                        margin: 0 auto;
                                    }
                                    .articles {
                                        margin: 0 auto;
                                    }
                                    .reviews {
                                        margin: 0 auto;
                                    }
                                }
                                .navbar-order {
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
            #dropdown {
                position: relative;
                transform: rotate(0deg);
                bottom: 5px;
                width: 46px;
                margin: 0 auto;
                padding: 0 16px;
                border-radius: 5px;
                display: block;
                color: white;
                background-color: #345724;
            }
        }
        main {
            .sliderBlock {
                display: none;
            }
            .catalogBlock {
                margin: 0 auto;
                overflow: hidden;
                .leaveBlock {
                    right: 50px;
                    overflow: hidden;
                    top: 550px;
                }
                .container {
                    h1 {
                        text-align: center;
                        margin: 0 auto;
                        font-size: 25px;
                    }
                    .product_blocks {
                        text-align: center;
                        a {
                            margin: 0 auto;
                            .product_block {
                                position: relative;
                                overflow: hidden;
                                margin: 0 auto 25px;
                                .product_bg {
                                    img {
                                        max-width: 232px;
                                    }
                                }
                                .product_text {
                                    width: 223px;
                                    position: absolute;
                                    top: 40px;
                                    right: 5px;
                                    span {
                                        font-size: 20px;
                                        line-height: 100.7%;
                                        color: #345724;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .newBlock {
                .container {
                    h1 {
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    .newproducts {
                        .row {
                            width: 232px;
                            margin-left: -5px;
                            text-align: center;
                            .newprod {
                                margin: o auto;
                                img {
                                    max-width: 232px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
            .reviewBlock {
                .container {
                    width: 323px;
                    h1 {
                        z-index: 49;
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    .review_slider {
                        max-width: 323px;
                        margin: 0 -32px;
                        display: flex;
                        .review_slide {
                            position: relative;
                            z-index: 18;
                            background-color: #fff;
                            margin: 0 .4% 0 ;
                            padding: 43px 53px 16px;
                            width: 232px !important;
                            height: 300px;
                            border: 3px solid #203317;
                            box-sizing: border-box;
                            .review_text {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 19px;
                                line-height: 110%;
                                p {
                                    padding-right: 23px;
                                }
                            }
                            .review_name {
                                margin-top: 10px;
                                font-size: 20px;
                                line-height: 110%;
                                color: #656565;
                            }
                            .review_stars {
                                z-index: 7;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
            .articleBlock {
                margin-top: 30px;
                margin-bottom: 161px;
                .container {
                    width: auto;
                    padding-left: 0;
                    h1 {
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    article {
                        margin: 0 auto;
                        .block_article {
                            width: 232px;
                            display: flex;
                            flex-direction: column;
                            .article_img {
                                width: 232px;
                                img {
                                    width: inherit;
                                }
                            }
                            .article_text {
                                background-color: #345724;
                                padding: 31px 24px 100px;
                                .head {
                                    color: #DBD6A3;
                                    font-size: 20px;
                                    line-height: 35px;
                                }
                                p {
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    margin-top: 24px;
                                    width: 388px;
                                    color: #fff;
                                    font-size: 17px;
                                    line-height: 23px;
                                    padding-right: 200px;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer {
            margin-top: 30px;
            overflow: hidden;
            background-color: #345724;
            padding: 21px 0 54px;
            .footer_inlineOne {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                .contacts {
                    font-family: 'Risque';
                    margin-left: 0;
                    padding: 16px 0 28px 0;
                }
                .socNet {
                    margin: 0 auto;
                    .inline_links {
                        display: flex;
                        .link_fb {
                            margin-top: 4%;
                            a {
                                img {
                                    width: 40px;
                                }
                            }
                        }
                        .link_inst {
                            margin-top: 3%;
                            a {
                                img {
                                    width: 50px;
                                }
                            }
                        }
                        .link_ytb {
                            margin-top: 2%;
                            a {
                                img {
                                    width: 55px;
                                }
                            }
                        }
                    }
                }
            }
            .footer_inlineTwo {
                margin: 0 auto;
                width: 997px;
                font-size: 13px;
                line-height: 110%;
                color: #DBD6A3;
                address {
                    margin-top: 46px;
                    width: 431px;
                    padding-right: 200px;
                }
            }
        }
    }
}
@media screen and (min-width: 479px) and (max-width: 600px) {
    .wrapping {
        width: 100%;
        overflow-x: hidden;
        min-height: calc(100vh - 194px);
    }
    .container {
        max-width: 355px;
    }
    body {
        overflow-x: hidden;
        header {
            overflow-x: hidden;
            .first_row {
                padding: 0 9%;
                .logo {
                    width: 130px;
                    padding: 17px 0;
                    img {
                        width: 100%;
                    }
                }
                .contacts {
                    margin-left: 35px;
                    padding-bottom: 2px;
                    .tel {
                        .tel_numbers {
                            display: flex;
                        }
                    }
                }
                .searching_panel {
                    position: relative;
                    padding: 0;
                    margin: 0 auto;
                    form {
                        width: 100%;
                        #search_area {
                            position: relative;
                            opacity: 0;
                            width: 45%;
                            border-bottom: 3px solid #656565;
                            transition: .5s ease;
                        }
                        .btn {
                            display: flex;
                            justify-content: flex-end;
                            width: 40px;
                            margin: 0;
                            padding: 0;
                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }
                }
                .basket {
                    margin-left: 5%;
                    .basket_logo {
                        padding: 18px 0 26px 0;
                    }
                    .basket_col {
                        padding: 23px 0 26px 0;
                    }
                }
                .lang {
                    margin-left: 55%;
                    padding: 13px 0 19px 0;
                }
            }
            .second_row {
                overflow: hidden;
                .container {
                    .nav_line {
                        .navbar {
                            margin: 0 auto;
                            height: 11px;
                            transition: .3s ease;
                            .collapse {
                                .navbar-nav {
                                    .about {
                                        margin-right: 0;
                                    }
                                    .catalog {
                                        margin: 0 auto;
                                    }
                                    .new {
                                        margin: 0 auto;
                                    }
                                    .articles {
                                        margin: 0 auto;
                                    }
                                    .reviews {
                                        margin: 0 auto;
                                    }
                                }
                                .navbar-order {
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
            #dropdown {
                position: relative;
                transform: rotate(0deg);
                bottom: 5px;
                width: 46px;
                margin: 0 auto;
                padding: 0 16px;
                border-radius: 5px;
                display: block;
                color: white;
                background-color: #345724;
            }
        }
        main {
            .sliderBlock {
                display: none;
            }
            .catalogBlock {
                margin: 0 auto;
                overflow: hidden;
                .leaveBlock {
                    overflow: hidden;
                    top: 550px;
                }
                .container {
                    h1 {
                        text-align: center;
                        margin: 0 auto;
                        font-size: 25px;
                    }
                    .product_blocks {
                        text-align: center;
                        a {
                            margin: 0 auto;
                            .product_block {
                                position: relative;
                                overflow: hidden;
                                margin: 0 auto 25px;
                                .product_bg {
                                    img {
                                        max-width: 205px;
                                    }
                                }
                                .product_text {
                                    width: 223px;
                                    position: absolute;
                                    top: 40px;
                                    right: -7px;
                                    padding: 0 30px;
                                    span {
                                        font-size: 20px;
                                        line-height: 100.7%;
                                        color: #345724;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .newBlock {
                .container {
                    width: 100%;
                    margin: 0 auto;
                    h1 {
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    .newproducts {
                        .row {
                            margin: 0 auto;
                            width: 210px;
                            .newprod {
                                margin: o auto;
                                img {
                                    max-width: 202px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
            .reviewBlock {
                .container {
                    width: 323px;
                    h1 {
                        z-index: 49;
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    .review_slider {
                        max-width: 343px;
                        display: flex;
                        .review_slide {
                            position: relative;
                            z-index: 18;
                            background-color: #fff;
                            margin: 0 1.02% 0 ;
                            padding: 43px 53px 16px;
                            width: 232px !important;
                            height: 300px;
                            border: 3px solid #203317;
                            box-sizing: border-box;
                            .review_text {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 19px;
                                line-height: 110%;
                            }
                            .review_name {
                                margin-top: 10px;
                                font-size: 20px;
                                line-height: 110%;
                                color: #656565;
                            }
                            .review_stars {
                                z-index: 7;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
            .articleBlock {
                margin-top: 30px;
                margin-bottom: 161px;
                .container {
                    width: auto;
                    padding-left: 0;
                    h1 {
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    article {
                        margin: 0 auto;
                        .block_article {
                            width: 352px;
                            display: flex;
                            flex-direction: column;
                            .article_img {
                                width: 232px;
                                img {
                                    width: 352px;
                                }
                            }
                            .article_text {
                                background-color: #345724;
                                padding: 31px 24px 100px;
                                .head {
                                    color: #DBD6A3;
                                    font-size: 20px;
                                    line-height: 35px;
                                }
                                p {
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    margin-top: 24px;
                                    width: 388px;
                                    color: #fff;
                                    font-size: 17px;
                                    line-height: 23px;
                                    padding-right: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer {
            margin-top: 30px;
            overflow: hidden;
            background-color: #345724;
            padding: 21px 0 54px;
            .footer_inlineOne {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                .logo {
                    margin: 0 auto;
                }
                .contacts {
                    font-family: 'Risque';
                    margin: 0 auto;
                    padding: 16px 0 28px 0;
                }
                .socNet {
                    margin: 0 auto;
                    .inline_links {
                        display: flex;
                        .link_fb {
                            margin-top: 4%;
                            a {
                                img {
                                    width: 40px;
                                }
                            }
                        }
                        .link_inst {
                            margin-top: 3%;
                            a {
                                img {
                                    width: 50px;
                                }
                            }
                        }
                        .link_ytb {
                            margin-top: 2%;
                            a {
                                img {
                                    width: 55px;
                                }
                            }
                        }
                    }
                }
            }
            .footer_inlineTwo {
                margin: 0 auto;
                width: 997px;
                font-size: 13px;
                line-height: 110%;
                color: #DBD6A3;
                address {
                    margin-top: 46px;
                    width: 431px;
                    padding-right: 100px;
                }
            }
        }
    }
}
@media screen and (min-width: 599px) and (max-width: 800px) {
    .wrapping {
        width: 100%;
        overflow-x: hidden;
        min-height: calc(100vh - 194px);
    }
    .container {
        max-width: 485px;
    }
    body {
        overflow-x: hidden;
        header {
            overflow-x: hidden;
            .first_row {
                padding: 0 9%;
                .container {
                    .row {
                        margin: 0 35px;
                    }
                }
                .logo {
                    width: 130px;
                    padding: 17px 0;
                    img {
                        width: 100%;
                    }
                }
                .contacts {
                    margin-left: 35px;
                    padding-bottom: 2px;
                    .tel {
                        .tel_numbers {
                            display: flex;
                        }
                    }
                }
                .searching_panel {
                    position: relative;
                    padding: 0;
                    margin-left: -5%;
                    form {
                        #search_area {
                            position: relative;
                            width: 70%;
                            border-bottom: 3px solid #656565;
                            transition: .5s ease;
                        }
                        .btn {
                            display: flex;
                            justify-content: flex-end;
                            width: 40px;
                            margin: 0;
                            padding: 0;
                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }
                }
                .basket {
                    margin-left: 0%;
                    .basket_logo {
                        padding: 18px 0 26px 0;
                    }
                    .basket_col {
                        padding: 23px 0 26px 0;
                    }
                }
                .lang {
                    margin-left: 6%;
                    padding: 13px 0 19px 0;
                }
            }
            .second_row {
                overflow: hidden;
                .container {
                    .nav_line {
                        .navbar {
                            max-height: 80px;
                            margin: 0 auto;
                            transition: .3s ease;
                            .collapse {
                                width: 550px;
                                .navbar-nav {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    .about {
                                        margin-right: auto;
                                    }
                                    .catalog {
                                        padding-top: 0;
                                        margin: 0 auto;
                                    }
                                    .new {
                                        margin: 0 auto;
                                    }
                                    .articles {
                                        margin: 0 auto;
                                    }
                                    .reviews {
                                        margin-left: auto;
                                    }
                                }
                                .navbar-order {
                                    margin-right: 35%;
                                    padding-bottom: .5rem;
                                }
                            }
                        }
                    }
                }
            }
            #dropdown {
                display: none;
            }
        }
        main {
            .sliderBlock {
                .slider {
                    .slider_slides {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        .slider_slide {
                            position: relative;
                            .slider_bg {
                                text-align: center;
                                z-index: 5;
                                img {
                                    width: 100%;
                                }
                            }
                            .slider_text {
                                left: 85px;
                                top: 82px;
                                z-index: 4;
                                position: absolute;
                                .container {
                                    max-width: 457px;
                                    margin: 0 auto;
                                    span {
                                        font-size: 24px;
                                        line-height: 110%;
                                    }
                                }
                            }
                        }
                        .slick-dots {
                            bottom: 15px;
                            li {
                                margin: 0 10px;
                                button {
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }
            .catalogBlock {
                margin: 0 auto;
                overflow: hidden;
                .leaveBlock {
                    overflow: hidden;
                    top: 650px;
                }
                .container {
                    h1 {
                        text-align: center;
                        margin: 0 auto;
                        font-size: 25px;
                    }
                    .product_blocks {
                        text-align: center;
                        margin: 0 auto;
                        width: 450px;
                        a {
                            margin: 0 auto;
                            .product_block {
                                position: relative;
                                overflow: hidden;
                                margin: 0 auto 25px;
                                .product_bg {
                                    img {
                                        max-width: 205px;
                                    }
                                }
                                .product_text {
                                    width: 223px;
                                    position: absolute;
                                    top: 40px;
                                    right: -7px;
                                    padding: 0 30px;
                                    span {
                                        font-size: 20px;
                                        line-height: 100.7%;
                                        color: #345724;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .newBlock {
                .container {
                    width: 100%;
                    margin: 0 auto;
                    h1 {
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    .newproducts {
                        .row {
                            margin: 0 auto;
                            width: 410px;
                            .newprod {
                                margin: o auto;
                                img {
                                    width: 202px;
                                    height: 204px;
                                    max-height: 204px;
                                }
                            }
                        }
                    }
                }
            }
            .reviewBlock {
                .container {
                    width: 800px;
                    h1 {
                        z-index: 49;
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    .review_slider {
                        max-width: 800px;
                        display: flex;
                        .review_slide {
                            position: relative;
                            z-index: 18;
                            background-color: #fff;
                            margin: 0 1% 0 ;
                            padding: 43px 33px 16px;
                            width: 180px !important;
                            height: 300px;
                            border: 3px solid #203317;
                            box-sizing: border-box;
                            .review_text {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 19px;
                                line-height: 110%;
                            }
                            .review_name {
                                margin-top: 10px;
                                font-size: 20px;
                                line-height: 110%;
                                color: #656565;
                            }
                            .review_stars {
                                z-index: 7;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
            .articleBlock {
                margin-top: 30px;
                margin-bottom: 161px;
                .container {
                    width: auto;
                    padding-left: 0;
                    h1 {
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    article {
                        margin: 0 auto;
                        height: 452px;
                        .block_article {
                            width: 482px;
                            display: flex;
                            flex-direction: column;
                            .article_img {
                                width: 482px;
                                img {
                                    width: 482px;
                                }
                            }
                            .article_text {
                                background-color: #345724;
                                padding: 31px 24px 100px;
                                .head {
                                    color: #DBD6A3;
                                    font-size: 20px;
                                    line-height: 35px;
                                }
                                p {
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    margin-top: 24px;
                                    margin-right: 0 !important;
                                    width: 388px;
                                    color: #fff;
                                    font-size: 17px;
                                    line-height: 23px;
                                    padding-right: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer {
            margin-top: 30px;
            overflow: hidden;
            background-color: #345724;
            padding: 21px 0 54px;
            .container {
                width: 552px;
                margin: 0 11%;
            }
            .footer_inlineOne {
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .logo {
                    margin-right: 5%;
                }
                .contacts {
                    font-family: 'Risque';
                    margin-left: 0%;
                    margin-right: 5%;
                    padding: 16px 0 28px 0;
                }
                .socNet {
                    margin: 0 auto;
                    .inline_links {
                        padding-top: 10%;
                        display: flex;
                        .link_fb {
                            margin-top: 4%;
                            a {
                                img {
                                    width: 40px;
                                }
                            }
                        }
                        .link_inst {
                            margin-top: 3%;
                            a {
                                img {
                                    width: 50px;
                                }
                            }
                        }
                        .link_ytb {
                            margin-top: 2%;
                            a {
                                img {
                                    width: 55px;
                                }
                            }
                        }
                    }
                }
            }
            .footer_inlineTwo {
                margin: 0 auto;
                width: 997px;
                font-size: 13px;
                line-height: 110%;
                color: #DBD6A3;
                address {
                    margin-top: 46px;
                    width: 700px;
                    padding-right: 100px;
                }
            }
        }
    }
}
@media screen and (min-width: 799px) and (max-width: 1024px) {
    .wrapping {
        width: 100%;
        overflow-x: hidden;
        min-height: calc(100vh - 194px);
    }
    .container {
        max-width: 485px;
    }
    body {
        overflow-x: hidden;
        header {
            overflow-x: hidden;
            .first_row {
                width: 825px;
                padding: 0 1%;
                .container {
                    max-width: 985px;
                    .row {
                        margin: 0 15px;
                    }
                }
                .logo {
                    width: 130px;
                    padding: 17px 0;
                    img {
                        width: 100%;
                    }
                }
                .contacts {
                    margin-left: 35px;
                    padding-bottom: 2px;
                    .tel {
                        .tel_numbers {
                            display: flex;
                        }
                    }
                }
                .searching_panel {
                    position: relative;
                    padding: 0;
                    margin-top: 2%;
                    margin-left: 2%;
                    form {
                        width: 190px;
                        #search_area {
                            position: relative;
                            width: 60%;
                            border-bottom: 3px solid #656565;
                            transition: .5s ease;
                        }
                        .btn {
                            display: flex;
                            justify-content: flex-end;
                            width: 40px;
                            margin: 0;
                            padding: 0;
                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }
                }
                .basket {
                    margin-left: 0%;
                    .basket_logo {
                        padding: 34px 0 26px 0;
                    }
                    .basket_col {
                        padding: 38px 0 26px 0;
                    }
                }
                .lang {
                    margin-left: 6%;
                    padding: 23px 0 19px 0;
                }
            }
            .second_row {
                overflow: hidden;
                .container {
                    .nav_line {
                        .navbar {
                            max-height: 80px;
                            margin: 0 auto;
                            transition: .3s ease;
                            .collapse {
                                width: 550px;
                                .navbar-nav {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    .about {
                                        margin-right: auto;
                                    }
                                    .catalog {
                                        padding-top: 0;
                                        margin: 0 auto;
                                    }
                                    .new {
                                        margin: 0 auto;
                                    }
                                    .articles {
                                        margin: 0 auto;
                                    }
                                    .reviews {
                                        margin-left: auto;
                                    }
                                }
                                .navbar-order {
                                    margin-right: 35%;
                                    padding-bottom: .5rem;
                                }
                            }
                        }
                    }
                }
            }
            #dropdown {
                display: none;
            }
        }
        main {
            .sliderBlock {
                .slider {
                    .slider_slides {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        .slider_slide {
                            position: relative;
                            .slider_bg {
                                text-align: center;
                                z-index: 5;
                                img {
                                    width: 100%;
                                }
                            }
                            .slider_text {
                                left: 85px;
                                top: 82px;
                                z-index: 4;
                                position: absolute;
                                .container {
                                    max-width: 657px;
                                    margin: 0 auto;
                                    span {
                                        font-size: 34px;
                                        line-height: 110%;
                                    }
                                }
                            }
                        }
                        .slick-dots {
                            bottom: 15px;
                            li {
                                margin: 0 10px;
                                button {
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }
            .catalogBlock {
                margin: 0 auto;
                overflow: hidden;
                .leaveBlock {
                    overflow: hidden;
                    top: 650px;
                }
                .container {
                    h1 {
                        text-align: center;
                        margin: 0 auto;
                        font-size: 25px;
                    }
                    .product_blocks {
                        text-align: center;
                        margin: 0 auto;
                        width: 680px;
                        a {
                            margin: 0 auto;
                            .product_block {
                                position: relative;
                                overflow: hidden;
                                margin: 0 auto 25px;
                                .product_bg {
                                    img {
                                        max-width: 305px;
                                    }
                                }
                                .product_text {
                                    width: 223px;
                                    position: absolute;
                                    top: 40px;
                                    left: 45px;
                                    padding: 0 30px;
                                    span {
                                        font-size: 25px;
                                        line-height: 100.7%;
                                        color: #345724;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .newBlock {
                .container {
                    width: 100%;
                    margin: 0 auto;
                    h1 {
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    .newproducts {
                        .row {
                            margin: 0 auto;
                            width: 510px;
                            .newprod {
                                margin: o auto;
                                img {
                                    width: 252px;
                                    max-height: 252px;
                                }
                            }
                        }
                    }
                }
            }
            .reviewBlock {
                .container {
                    width: 800px;
                    h1 {
                        z-index: 49;
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    .review_slider {
                        max-width: 800px;
                        display: flex;
                        margin: 0 -25%;
                        .review_slide {
                            position: relative;
                            z-index: 18;
                            background-color: #fff;
                            margin: 0 1% 0 ;
                            padding: 43px 33px 16px;
                            width: 180px !important;
                            height: 300px;
                            border: 3px solid #203317;
                            box-sizing: border-box;
                            .review_text {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 19px;
                                line-height: 110%;
                            }
                            .review_name {
                                margin-top: 10px;
                                font-size: 20px;
                                line-height: 110%;
                                color: #656565;
                            }
                            .review_stars {
                                z-index: 7;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
            .articleBlock {
                margin-top: 30px;
                margin-bottom: 1px;
                .container {
                    width: auto;
                    padding-left: 0;
                    h1 {
                        margin: 0;
                        text-align: center;
                        font-size: 25px;
                        width: auto;
                    }
                    article {
                        margin: 0 -35%;
                        height: 452px;
                        .block_article {
                            width: 482px;
                            display: flex;
                            flex-direction:row;
                            .article_img {
                                width: 382px;
                                img {
                                    width: 382px;
                                    height: 310px;
                                }
                            }
                            .article_text {
                                background-color: #345724;
                                padding: 31px 24px 100px;
                                .head {
                                    color: #DBD6A3;
                                    font-size: 20px;
                                    line-height: 35px;
                                }
                                p {
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    margin-top: 24px;
                                    margin-right: 0 !important;
                                    width: 388px;
                                    color: #fff;
                                    font-size: 17px;
                                    line-height: 23px;
                                    padding-right: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer {
            margin-top: 30px;
            overflow: hidden;
            background-color: #345724;
            padding: 21px 0 54px;
            .container {
                width: 552px;
                margin: 0 5%;
            }
            .footer_inlineOne {
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .logo {
                    margin-right: 35%;
                }
                .contacts {
                    font-family: 'Risque';
                    margin-left: 0%;
                    margin-right: 20%;
                    padding: 16px 0 28px 0;
                }
                .socNet {
                    margin: 0 auto;
                    .inline_links {
                        padding-top: 10%;
                        display: flex;
                        .link_fb {
                            margin-top: 4%;
                            a {
                                img {
                                    width: 40px;
                                }
                            }
                        }
                        .link_inst {
                            margin-top: 3%;
                            a {
                                img {
                                    width: 50px;
                                }
                            }
                        }
                        .link_ytb {
                            margin-top: 2%;
                            a {
                                img {
                                    width: 55px;
                                }
                            }
                        }
                    }
                }
            }
            .footer_inlineTwo {
                margin: 0 auto;
                width: 997px;
                font-size: 13px;
                line-height: 110%;
                color: #DBD6A3;
                address {
                    margin-top: 46px;
                    width: 700px;
                    padding-right: 100px;
                }
            }
        }
    }
}
@media screen and (min-width: 1023px) and (max-width: 1600px) {
    body {
        overflow-x: hidden;
        header {
            overflow-x: hidden;
            .second_row {
                overflow: hidden;
                .container {
                    .nav_line {
                        .navbar {
                            padding: 0;
                            max-height: 80px;
                            transition: .3s ease;
                            .collapse {
                                .navbar-nav {
                                    .nav-item {
                                        width: 80px;
                                    }
                                    .catalog {
                                        padding-top: 0;
                                    }
                                }
                                .navbar-order {
                                    width: 180px;
                                    margin-left: 160px;
                                    padding-bottom: .5rem;
                                }
                            }
                        }
                    }
                }
            }
            #dropdown {
                display: none;
            }
        }
        main {
            .sliderBlock {
                .slider {
                    .slider_slides {
                        .slider_slide {
                            .slider_bg {
                                text-align: center;
                                z-index: 5;
                                img {
                                    width: 100%;
                                    height: 70%;
                                }
                            }
                            .slider_text {
                                left: 185px;
                                top: 82px;
                                .container {
                                    max-width: 857px;
                                    margin: 0 auto;
                                    span {
                                        font-size: 44px;
                                        line-height: 110%;
                                    }
                                }
                            }
                        }
                        .slick-dots {
                            bottom: 15px;
                            li {
                                margin: 0 10px;
                                button {
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }
            .catalogBlock {
                margin: 2% auto 0;
                overflow: hidden;
                .leaveBlock {
                    overflow: hidden;
                    top: 950px;
                }
                .container {
                    h1 {
                        text-align: left;
                        margin: 0 auto 4%;
                        font-size: 45px;
                    }
                    .product_blocks {
                        text-align: center;
                        margin: 0 auto;
                        padding: 0 7%;
                        width: 850px;
                        a {
                            margin: 0 auto;
                            .product_block {
                                position: relative;
                                overflow: hidden;
                                margin: 0 auto 15%;
                                .product_bg {
                                    img {
                                        max-width: 305px;
                                    }
                                }
                                .product_text {
                                    width: 223px;
                                    position: absolute;
                                    top: 40px;
                                    left: 45px;
                                    padding: 0 30px;
                                    span {
                                        font-size: 25px;
                                        line-height: 100.7%;
                                        color: #345724;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .newBlock {
                .container {
                    width: 100%;
                    margin: 0 auto;
                    h1 {
                        text-align: left;
                        margin: 0 auto 4%;
                        font-size: 45px;
                    }
                    .newproducts {
                        .row {
                            margin: 0 auto;
                            width: 610px;
                            .newprod {
                                margin: 0 auto;
                                img {
                                    width: 305px;
                                    max-height: 305px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
